@import url("main.css");
@import url("page.css");

@media screen and (max-width: 359px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1.1em;
  }

  .button-primary span {
    font-size: 1.4em;
  }

  .navbar .navbar-buttons img {
    display: inherit;
  }

  .navbar ul {
    display: none;
  }

  #home .block {
    display: none;
  }

  #home {
    height: 100vh;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
  }

  #home .introduction {
    padding-bottom: 0;
  }

  #home .introduction h2 {
    font-size: 3.5em;
    min-width: 100%;
  }

  #home .introduction p {
    min-width: 100%;
  }

  #home .figure {
    display: none;
  }

  #about {
    height: auto;
    flex-direction: column;
    padding: 0;
    padding-inline: 5%;
    gap: 1rem;
  }

  #about > div {
    width: 100%;
  }

  #about > div:last-child .mini-title {
    margin-top: 2rem;
  }

  #about h3 {
    font-size: 4em;
    max-width: 20%;
  }

  #about > .block {
    display: none;
  }

  #work {
    flex-direction: column-reverse;
    padding: 20% 5%;
    gap: 5rem;
  }

  #work .intro-work .block {
    display: none;
  }

  #work .intro-work {
    max-width: 100%;
  }

  #work .intro-work h3 {
    font-size: 4em;
    margin-bottom: 1rem;
  }

  #work .intro-work p {
    max-width: 100%;
  }

  #work .list-work {
    max-width: 100%;
  }

  #galery {
    padding-block: 10%;
  }

  #galery .block {
    display: none;
  }

  #galery .galery-header {
    padding: 10% 5%;
    justify-content: center;
  }

  #galery .galery-header > div {
    width: 100%;
  }

  #galery .galery-header > div:first-child {
    text-align: center;
  }

  #galery .galery-header > div p {
    max-width: 100%;
  }

  #galery .header-images {
    display: none;
  }

  #galery .project {
    padding: 0;
  }

  #galery .project h3 {
    font-size: 2em;
    text-align: center;
  }

  #galery .project .list-model-buttons {
    border-bottom: 1px solid var(--color-light);
    overflow-x: scroll;
    padding-inline: 1rem;
    width: 100vw;
  }

  #galery .project .list-model-buttons li label {
    white-space: nowrap;
  }

  #galery .project .scroll-projects {
    flex-wrap: wrap;
    padding-inline: 5%;
    gap: 4rem;
  }

  #galery .project .scroll-projects > div {
    width: 100%;
  }

  #galery .project .scroll-projects > div figure {
    outline-width: 2px;
    outline-offset: 3px;
    height: 500px;
  }

  #footer {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
    padding: 5%;
  }

  #footer .block {
    display: none;
  }

  #footer .listnav {
    display: flex;
    flex-direction: column;
  }
}
