@font-face {
  font-family: "Parisienne";
  src: url("../../font/Parisienne/Parisienne-Regular.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("../../font/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../../font/Source_Sans_3/SourceSans3-VariableFont_wght.ttf");
}

html.sr .show-elem,
html.sr .slide-left,
html.sr .slide-top,
html.sr .slide-right,
html.sr .block,
html.sr .slide-gradual,
html.sr .mini-title,
html.sr .scroll-projects {
  visibility: hidden;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --bg: #f4f4f4;
  --color-light: #e6e6e6;
  --color-title: #272727;
  --color-prg: #5d5a5a;
  --border: #5d5a5a;
  --color-primary: #03a0a7;
}

body {
  font-size: 0.9em;
  background-color: var(--bg);
}

p,
a,
label {
  color: var(--color-prg);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.4;

  transition: color 300ms;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.95;
  color: var(--color-title);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button,
label {
  user-select: none;
}

ul {
  list-style-type: none;
}

hr.bd-vertical {
  border: 0;
  width: 1px;
  height: 400px;
  background-color: #efefef;
}

h2 span,
h3 span {
  color: var(--color-primary);
}

.button-primary {
  padding: 0.2rem 2rem;
  background-color: var(--color-title);
  font-weight: 500;
  position: relative;
}

.button-primary span {
  color: var(--bg);
  font-size: 1.1em;
  position: relative;
  z-index: 999;
}

.button-primary::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 2;
  transition: width 600ms;
}

.button-primary:hover::after {
  right: 0;
  width: 0;
}

.mini-title {
  font-size: 1.4em !important;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  margin-bottom: 1rem;
}

.logo {
  font-family: "Parisienne", sans-serif;
  width: 40px;
  height: 45px;
  display: grid;
  place-content: center;
  background-color: var(--color-title);
  color: var(--bg);
  font-size: 1.6em;
  font-weight: 400;
}

.text-personalized {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.text-personalized span {
  font-family: "Parisienne", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

.arrow {
  width: 4px;
  height: 4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.arrow div {
  transform: translateX(-1rem);
}

.arrow .arrow-body {
  width: 2px;
  height: 2rem;
  background-color: var(--border);
}

.arrow .arrow-head {
  border-width: 5px;
  border-style: solid;
  border-color: var(--border) transparent transparent transparent;
}

#menu_lateral {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  top: 0;
  right: -65%;
  z-index: 999;
  width: 65%;
  height: 100%;
  background-color: var(--bg);
  border-left: 1px solid var(--color-light);
  overflow: hidden;
  transition: right 500ms;
}

#menu_lateral:target {
  right: 0;
}

#menu_lateral .menu-list {
  display: inherit;
  flex-direction: column;
  padding-block: 3rem;
  width: 100%;
}

#menu_lateral .menu-list li {
  padding: 0.4rem 1rem;
  width: 100%;
}

#menu_lateral .menu-list li a {
  font-size: 1.1em;
  font-weight: 600;

  transition: background-color 300ms;
}

#menu_lateral .menu-list li:hover {
  background-color: var(--color-primary);
}

#menu_lateral .menu-list li:hover a {
  color: var(--bg);
}

#menu_lateral a.x-mark {
  width: 2.3em;
  height: 2.3em;
  margin-top: 1rem;
  margin-left: 1rem;
}

#menu_lateral a.button-m-contact {
  margin-left: 1rem;
}
