@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Parisienne";
  src: url("../../font/Parisienne/Parisienne-Regular.ttf");
}

html.sr .show-elem,
html.sr .slide-left,
html.sr .slide-top,
html.sr .slide-right,
html.sr .block,
html.sr .slide-gradual,
html.sr .mini-title,
html.sr .scroll-projects {
  visibility: hidden;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

:root {
  --bg: #f4f4f4;
  --color-light: #e6e6e6;
  --color-title: #272727;
  --color-prg: #5d5a5a;
  --border: #5d5a5a;
  --color-primary: #03a0a7;
}

body {
  font-size: 0.9em;
  background-color: var(--bg);
}

p,
a,
label {
  color: var(--color-prg);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.4;

  transition: color 300ms;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.95;
  color: var(--color-title);
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button,
label {
  user-select: none;
}

ul {
  list-style-type: none;
}

hr.bd-vertical {
  border: 0;
  width: 1px;
  height: 400px;
  background-color: #efefef;
}

.button-primary {
  padding: 0.2rem 2rem;
  background-color: var(--color-title);
  font-weight: 500;
  position: relative;
}

.button-primary span {
  color: var(--bg);
  font-size: 1.1em;
  position: relative;
  z-index: 999;
}

.button-primary::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 2;
  transition: width 600ms;
}

.button-primary:hover::after {
  right: 0;
  width: 0;
}

.mini-title {
  font-size: 1.4em !important;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  margin-bottom: 1rem;
}

.logo {
  font-family: "Parisienne", sans-serif;
  width: 40px;
  height: 45px;
  display: grid;
  place-content: center;
  background-color: var(--color-title);
  color: var(--bg);
  font-size: 1.6em;
  font-weight: 400;
}

.text-personalized {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.text-personalized span {
  font-family: "Parisienne", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}
h2 span,
h3 span {
  color: var(--color-primary);
}
